Back/src/ProEventos.API/bin/Debug/net6.0/ProEventos.API.dll
Back/src/ProEventos.API/bin/Debug/net6.0/ProEventos.API.exe
Back/src/ProEventos.API/bin/Debug/net6.0/ProEventos.API.pdb
Back/src/ProEventos.API/bin/Debug/net6.0/ProEventos.API.runtimeconfig.json
Back/src/ProEventos.API/bin/Debug/net6.0/ProEventos.API.staticwebassets.runtime.json
Back/src/ProEventos.API/bin/Debug/net6.0/ProEventos.Application.dll
Back/src/ProEventos.API/bin/Debug/net6.0/ProEventos.Application.pdb
Back/src/ProEventos.API/bin/Debug/net6.0/ProEventos.Domain.dll
Back/src/ProEventos.API/bin/Debug/net6.0/ProEventos.Domain.pdb
Back/src/ProEventos.API/bin/Debug/net6.0/ProEventos.Persistence.dll
Back/src/ProEventos.API/bin/Debug/net6.0/ProEventos.Persistence.pdb
Back/src/ProEventos.API/obj/ProEventos.API.csproj.nuget.dgspec.json
Back/src/ProEventos.API/obj/project.assets.json
Back/src/ProEventos.API/obj/project.nuget.cache
Back/src/ProEventos.API/obj/staticwebassets.pack.sentinel
Back/src/ProEventos.API/obj/Debug/net6.0/apphost.exe
Back/src/ProEventos.API/obj/Debug/net6.0/ProEventos.API.assets.cache
Back/src/ProEventos.API/obj/Debug/net6.0/ProEventos.API.csproj.CoreCompileInputs.cache
Back/src/ProEventos.API/obj/Debug/net6.0/ProEventos.API.csproj.FileListAbsolute.txt
Back/src/ProEventos.API/obj/Debug/net6.0/ProEventos.API.dll
Back/src/ProEventos.API/obj/Debug/net6.0/ProEventos.API.GeneratedMSBuildEditorConfig.editorconfig
Back/src/ProEventos.API/obj/Debug/net6.0/ProEventos.API.genruntimeconfig.cache
Back/src/ProEventos.API/obj/Debug/net6.0/ProEventos.API.pdb
Back/src/ProEventos.Application/bin/Debug/net6.0/ProEventos.Application.dll
Back/src/ProEventos.Application/bin/Debug/net6.0/ProEventos.Application.pdb
Back/src/ProEventos.Application/bin/Debug/net6.0/ProEventos.Domain.dll
Back/src/ProEventos.Application/bin/Debug/net6.0/ProEventos.Domain.pdb
Back/src/ProEventos.Application/bin/Debug/net6.0/ProEventos.Persistence.dll
Back/src/ProEventos.Application/bin/Debug/net6.0/ProEventos.Persistence.pdb
Back/src/ProEventos.Application/obj/ProEventos.Application.csproj.nuget.dgspec.json
Back/src/ProEventos.Application/obj/project.assets.json
Back/src/ProEventos.Application/obj/project.nuget.cache
Back/src/ProEventos.Application/obj/Debug/net6.0/ProEventos.Application.assets.cache
Back/src/ProEventos.Application/obj/Debug/net6.0/ProEventos.Application.csproj.CoreCompileInputs.cache
Back/src/ProEventos.Application/obj/Debug/net6.0/ProEventos.Application.dll
Back/src/ProEventos.Application/obj/Debug/net6.0/ProEventos.Application.pdb
Back/src/ProEventos.Domain/bin/Debug/net6.0/ProEventos.Domain.dll
Back/src/ProEventos.Domain/bin/Debug/net6.0/ProEventos.Domain.pdb
Back/src/ProEventos.Domain/obj/ProEventos.Domain.csproj.nuget.dgspec.json
Back/src/ProEventos.Domain/obj/project.assets.json
Back/src/ProEventos.Domain/obj/project.nuget.cache
Back/src/ProEventos.Domain/obj/Debug/net6.0/ProEventos.Domain.assets.cache
Back/src/ProEventos.Domain/obj/Debug/net6.0/ProEventos.Domain.csproj.CoreCompileInputs.cache
Back/src/ProEventos.Domain/obj/Debug/net6.0/ProEventos.Domain.dll
Back/src/ProEventos.Domain/obj/Debug/net6.0/ProEventos.Domain.pdb
Back/src/ProEventos.Persistence/bin/Debug/net6.0/ProEventos.Domain.dll
Back/src/ProEventos.Persistence/bin/Debug/net6.0/ProEventos.Domain.pdb
Back/src/ProEventos.Persistence/bin/Debug/net6.0/ProEventos.Persistence.dll
Back/src/ProEventos.Persistence/bin/Debug/net6.0/ProEventos.Persistence.pdb
Back/src/ProEventos.Persistence/obj/ProEventos.Persistence.csproj.nuget.dgspec.json
Back/src/ProEventos.Persistence/obj/project.assets.json
Back/src/ProEventos.Persistence/obj/project.nuget.cache
Back/src/ProEventos.Persistence/obj/Debug/net6.0/ProEventos.Persistence.assets.cache
Back/src/ProEventos.Persistence/obj/Debug/net6.0/ProEventos.Persistence.csproj.CoreCompileInputs.cache
Back/src/ProEventos.Persistence/obj/Debug/net6.0/ProEventos.Persistence.dll
Back/src/ProEventos.Persistence/obj/Debug/net6.0/ProEventos.Persistence.pdb
